/*============== start the from circle animation===============*/
body {
  background-color: rgba(0, 0, 0, 0.9294117647);
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

form {
  width: 350px;
  height: 350px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 250px;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

input,
button {
  width: 100%;
  display: block;
  padding: 10px;
  margin: 15px auto;
  border: none;
  border-radius: 5px;
}

button {
  padding: 0;
  color: white;
  background: linear-gradient(83deg, #188ca1, #04aa97);
  font-size: 16px;
  font-weight: bold;
}

button a {
  display: block;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
  padding: 3px 5px;
  font-size: 14px;
  color: white;
}

form::before,
form::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  outline: 5px solid whitesmoke;
  z-index: -2;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-rev {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes glow-blue {
  to {
    box-shadow: 0 0 10px 35px #007580;
  }
}
@keyframes glow-green {
  to {
    box-shadow: 0 0 10px 35px #00adbc;
  }
}
form::after {
  transform: rotate(380);
  animation: rotate infinite 3s linear, glow-blue 3s infinite linear alternate;
  border-radius: 69% 70% 99% 79%;
  outline-color: #0979b1;
  box-shadow: 0 0 2px 2px #0979b1;
}

form::before {
  animation: rotate-rev infinite 3s linear, glow-green 3s infinite linear alternate;
  border-radius: 87% 70% 69% 80%;
  outline-color: #00fbff;
  box-shadow: 0 0 2px 2px #00fbff;
}

/*==============finish the from circle animation===============*/
/*============ start the range animation with 2 buttons ==================*/
body {
  background-color: rgba(0, 0, 0, 0.8705882353);
  font-family: sans-serif;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  background-color: rgba(145, 145, 145, 0.1568627451);
  height: 500px;
  margin: 50px auto;
  border-radius: 40px;
  padding: 20px;
  gap: 20px;
}

.counter {
  font-size: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  text-shadow: 0 0 5px white;
}

.process {
  width: 10px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4549019608);
  border-radius: 25px;
  position: relative;
}

.process .percent {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.7s ease;
  width: 100%;
  height: 0;
  border-radius: 25px;
  background-color: #00d000;
  box-shadow: 0 0 20px 1px #00d000;
  transform: translateX(0px);
}

.options span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #818080;
  border-radius: 50%;
  font-size: 23px;
  margin-bottom: 5px;
  letter-spacing: -4px;
  text-indent: -4px;
  box-shadow: 0 0 5px 2px #555555 inset;
  text-shadow: 0 0 5px white;
  cursor: pointer;
}

.options span:active {
  box-shadow: 0 0 3px 2px rgba(14, 13, 13, 0.9294117647) inset;
  font-size: 18px;
}

/*============ finish the range animation with 2 buttons ==================*//*# sourceMappingURL=main.css.map */